body {
	//margin-left:10px;	
	margin:0;
	padding:0;
	background-image:url('img/bg_cell.jpg'); 
	//-webkit-transform:scale(0.5);
}

#game_area{
	margin: 0px auto;
	width:960px;
	height:576px;
	background-image:url('img/bg.jpg');
	
}

#absolute_game_area{
position:absolute;
width: 960px;
height: 576px;
}

#common_area{
position:absolute;
width: 960px;
height: 576px;
overflow: hidden;
}
#player1{
	width:480px;
	height:288px;
	left:480px;
	position:absolute;
}

#player2{
	width:480px;
	height:288px;
	position:absolute;
}

#player3{
	width:960px;
	height:288px;	
	top:288px;
	position:absolute;
}

.player_info, .role{
position:absolute;
top:20px;
left:20px;
}

#player1 .player_info, #player1 .role{
left:352px;
}
.player_avatar{
background: url('img/interface_c.png') -626px -709px;
padding: 20px;
width: 70px;
height: 70px;
padding-left: 19px;
}
.player_name{

}


.role_avatar{
	width:108px;
	height:116px;
	background:url('img/ani_role_parts.png') -117px -381px
}
.role_body{
	width:100px;
	height:90px;
	margin-top: -33px;
	background:url('img/ani_role_parts.png') -8px -264px;
}

.clock{
	width:98px;
	height:90px;
	background:url('img/interface_a.png') -539px -288px;
	position: absolute;
	//display: none;
}

.action_container{
//display:none;
position: absolute;
}

#player1 .action_container{
top: 100px;
width: 400px;
height: 90px;
}

#player2 .action_container{
top: 100px;
left: 128px;
width: 400px;
height: 90px;
}

#player3 .action_container{
top: 48px;
left: 128px;
width: 800px;
height: 90px;
z-index:100;
}

#player1 .clock{
	left: 200px;
}
#player3 .clock{	
	left: 150px;
}

.qiangdizhu_area{
position:absolute;
display:none;
}
#player1  .clock{

top:100px;
}

#player2  .clock{
top: 100px;
left: 128px;
}


.wrapper{
position:absolute;
display:none;
}

.paopao_container{
position:absolute;
top:50px;
display: none;
}

#player1 .paopao_container{
left:210px;
}

#player2 .paopao_container, #player3 .paopao_container{
left:120px;
}

.time_remain{
	text-align: center;
	margin-top: 45px;
	font-weight: bold;
	margin-left: 8px;
}

 .action_btn{
	width:136px;
	height:78px;
	background-image:url('img/btn.png');
	position: absolute;
}

.red_btn .kaishi{
	background-position: 0px -348px;	
}

#start_div{
top:249px;
left:412px;
z-index:100;
}
.green_btn{
	background-position: 0px -85px;	
}

.red_btn{
	background-position: 0px 0px;	
}

.gray_btn{
	background-position: -288px 0px;	
}

#negative_btn{
left: 204px;
}

#player3 .qiangdizhu_area .clock{
left:351px;
}
#positive_btn{
left: 460px;

}

#buchu_btn{		
	//left: 140px;
}
#chongxuan_btn{	
	left: 260px;
}

.gray_btn .chongxuan{
background-position: -337px -528px;
}

.red_btn .chongxuan{
background-position: -238px -573px;
}

#tishi_btn{	

	left:440px;
}
.tishi{
background-position: -0px -623px;
}
#chupai_btn{
	left: 610px;
}
.gray_btn .chupai{
background-position: -252px -530px;
}

.red_btn .chupai{
background-position: -237px -480px;
}




.role_shouPaiBg{
background-image: url(img/interface_b.jpg);
width: 37px;
height: 37px;
background-position: -593px -119px;
margin-left: 15px;
}

.role_shouPaiNum{
font-size: 20px;
font-weight: bold;
position: relative;
top: -30px;
left: 15px;
z-index: 100;
width: 34px;
text-align: center;
}


.buchu_container{
width:156px;
height:120px;
position:absolute;
//display:none;
top : 50px;
left:120px;
}

#player3 .buchu_container{
top:0x;
}

#player1 .buchu_container{
left:210px;
}

.qiang_dizhu_area{
display:none;
}


.action_btn .text_3char{
	top: 20px;
	left: 18px;
	position: absolute;
	width: 100px;
	height: 36px;
	background-image: url('img/btn.png');
}
.action_btn .text_2char{
	top: 20px;
	left: 31px;
	position: absolute;
	width: 77px;
	height: 40px;
	background-image: url('img/btn.png');
}


.paopao_container .text{
	position: absolute;
	width: 116px;
	height: 50px;
	background-image: url('img/interface_a.png');
	top: 30px;
	left: 20px;
}

.paopao_container .bujiao{
background-position:-148px -384px;
}

.paopao_container .buchu{
background-position:-360px -384px;
}

.paopao_container .buqiang{
background-position:-256px -384px;
}

.paopao_container .jiao_dizhu{
background-position:-163px -441px;
}

.paopao_container .qiang_dizhu{
background-position:-292px -441px;
}


.action_container .jiao_dizhu{
background-position:-0px -390px;
}
.action_container .buqiang{
background-position:-0px -526px;
}
.action_container .qiang_dizhu{
background-position:-0px -436px;
}

#mul_eff_div{
background-image:url('img/mul_eff.png');
width:242px;
height:148px;
background-position-x:0;
margin: 167px 359px;
position: absolute;
opacity:0;
-webkit-animation-name: fadeOut;
-webkit-animation-duration: 1s;
-webkit-animation-delay: .0s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
z-index: 1;
}

.mul_eff_2{
background-position-y:0;
}


#invisible_dipai_area {
position: absolute;
-webkit-animation-duration: 1s;
-webkit-animation-delay: .0s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
}


.invisible_dipai_left_animate{
-webkit-transform:translateX(-100px);
}

.invisible_dipai_right_animate{
-webkit-transform:translateX(100px);
}

#visible_dipai_area{
position: absolute;
left: 447px;
top: 16px;
-webkit-animation-duration: 2s;
-webkit-animation-delay: .0s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
}

.fadeInUpBigWithScale{
-webkit-animation-name:fadeInUpBigWithScale;
}

#visible_dipai_area .card_img{
position:absolute;
top: 20px;
//left: 431px;

}

#visible_dipai_area .card_img:nth-child(1){
-webkit-transform:translateX(-100px);
}

#visible_dipai_area .card_img:nth-child(3){
-webkit-transform:translateX(100px);
}
.difen_chars{
background-image:url('img/interface_b.jpg');
width:58px;
height:23px;
background-position:-689px -119px;
position:absolute;
top:516px;
left:4px;
}

#difen_value_container {
position:absolute;
top:516px;
left:62px;
}

.total_mul_chars{
background-image:url('img/interface_b.jpg');
width:63px;
height:30px;
background-position:-689px -154px;
position:absolute;
top:546px;
left:4px;
}

#total_mul_value_container{
position:absolute;
top: 550px;
left:67px;
}

#difen_value_container  .digital_img, #total_mul_value_container .digital_img{
display:inline-block;
margin-right: -5px;
}


.cancel_animate{
-webkit-animation-name: none;
}

.mul_eff_3{
background-position-y:-152px;
-webkit-animation-name: '';
}

.mul_eff_5{
background-position-y:-305px;
-webkit-animation-name: '';
}

.action_btn .buchu{
background-position:0  -576px;
}

.action_btn .bujiao{
background-position:0  -481px;
}

.action_btn .buqiang{
background-position:0  -528px;
}


.paopao{
	width: 156px;
	height: 120px;
	background-image: url('img/interface_a.png'); 
}

#player1 .paopao{
	background-position: 0 -371px;
	
}

#player2 .paopao, #player3 .paopao{
	background-position: 0 -251px;
}



#player2 .role_avatar, #player2 .role_body,#player3 .role_avatar, #player3 .role_body
{
	 -webkit-transform:scaleX(-1);
}



#player1_shoupai_area, #player2_shoupai_area {
position: absolute;
display:none;
}
#player3_shoupai_area{
position: absolute;
width: 800px;
height: 120px;
top: 168px;
left: 128px;
}

#player3_shoupai_area .card_img{
-webkit-transition:-webkit-transform 1s ease;
}

.card_played_area{
width: 350px;
height: 120px;
position: absolute;
-webkit-transform:scale(0.8);
//background:red;
//display: none;
}

#player1_card_container{
top: 150px;
}
 #player2_card_container{
top: 150px;
left: 120px;
 }
 #player3_card_container{
 width: 700px;
top: 30px;
left: 180px;
}




.card_img{
width:95px;
height:116px;
background-image:url('img/poker.png');
//-webkit-transform:scale(0.8);
}

.heitao3{
background-position: -3px -1px;
}
.heitao4{
background-position: -101px -1px;
}
.heitao5{
background-position:  -199px -1px;
}
.heitao6{
background-position:  -297px -1px;
}
.heitao7{
background-position:  -395px -1px;
}
.heitao8{
background-position:  -493px -1px;
}
.heitao9{
background-position:  -591px -1px;
}
.heitao10{
background-position:  -689px -1px;
}
.heitaoJ{
background-position:  -787px -1px;
}
.heitaoQ{
background-position:  -885px -1px;
}
.heitaoK{
background-position:  -985px -1px;
}
.heitaoA{
background-position:  -1081px -1px;
}
.heitao2{
background-position:  -1179px -1px;
}

.xiaowang{
background-position:  -1277px -1px;
}
.hongxin3{
background-position: -3px -124px;
}
.hongxin4{
background-position: -101px -124px;
}
.hongxin5{
background-position:  -199px -124px;
}
.hongxin6{
background-position:  -297px -124px;
}
.hongxin7{
background-position:  -395px -124px;
}
.hongxin8{
background-position:  -493px -124px;
}
.hongxin9{
background-position:  -591px -124px;
}
.hongxin10{
background-position:  -689px -124px;
}
.hongxinJ{
background-position:  -787px -124px;
}
.hongxinQ{
background-position:  -885px -124px;
}
.hongxinK{
background-position:  -985px -124px;
}
.hongxinA{
background-position:  -1081px -124px;
}
.hongxin2{
background-position:  -1179px -124px;
}
.dawang{
background-position:  -1275px -124px;
}


.meihua3{
background-position: -3px -247px;
}
.meihua4{
background-position: -101px -247px;
}
.meihua5{
background-position:  -199px -247px;
}
.meihua6{
background-position:  -297px -247px;
}
.meihua7{
background-position:  -395px -247px;
}
.meihua8{
background-position:  -493px -247px;
}
.meihua9{
background-position:  -591px -247px;
}
.meihua10{
background-position:  -689px -247px;
}
.meihuaJ{
background-position:  -787px -247px;
}
.meihuaQ{
background-position:  -885px -247px;
}
.meihuaK{
background-position:  -985px -247px;
}
.meihuaA{
background-position:  -1081px -247px;
}
.meihua2{
background-position:  -1179px -247px;
}

.invisible_dipai{
background-position:  -1274px -247px;
top:200px;
left:431px;
position: absolute;
-webkit-transition: -webkit-transform 1s ease;
}
.fangkuai3{
background-position: -3px -370px;
}
.fangkuai4{
background-position: -101px -370px;
}
.fangkuai5{
background-position:  -199px -370px;
}
.fangkuai6{
background-position:  -297px -370px;
}
.fangkuai7{
background-position:  -395px -370px;
}
.fangkuai8{
background-position:  -493px -370px;
}
.fangkuai9{
background-position:  -591px -370px;
}
.fangkuai10{
background-position:  -689px -370px;
}
.fangkuaiJ{
background-position:  -787px -370px;
}
.fangkuaiQ{
background-position:  -885px -370px;
}
.fangkuaiK{
background-position:  -985px -370px;
}
.fangkuaiA{
background-position:  -1081px -370px;
}
.fangkuai2{
background-position:  -1179px -370px;
}

#result{
width:688px;
height:480px;
background:url(img/interface_d_12082415.png) 0 484px;
display:none;
z-index: 100;
position: absolute;
margin:48px  136px;

-webkit-animation-duration: 2s;
-webkit-animation-delay: .0s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
}

.digital_img{
background-image:url('img/interface_a.png');
width:20px;
height:24px;
background-position-y:-256px;
}

.digital_0{
background-position-x:-161px;
}
.digital_1{
background-position-x:-184px;
}
.digital_2{
background-position-x:-214px;
}
.digital_3{
background-position-x:-239px;
}
.digital_4{
background-position-x:-265px;
}
.digital_5{
background-position-x:-290px;
}
.digital_6{
background-position-x:-316px;
}
.digital_7{
background-position-x:-342px;
}
.digital_8{
background-position-x:-369px;
}
.digital_9{
background-position-x:-395px;
}

.lianPai, .lianDui{
	width:190px;
	height:92px;
	position:absolute;
	background-image:url('img/p_j.png');
	-webkit-animation-name:fadeOut;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: .0s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: both;
}

.lianPai{
background-position:-184px -144px;
}

.lianDui{
background-position:-184px -245px;
}

.pai_effect_area{
	background-image:url('img/p_j.png');
	position:absolute;	
	-webkit-animation-delay: .0s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	opacity:0;
}

#shuangwang_effect_area{
	width:130px;
	height:410px;
	background-position: 0 -15px;
	top:0px;
	left:415px;
	-webkit-animation-name:shuangwangFadeDownOut;
	-webkit-animation-duration: 1s;
	overflow:hidden;
}

#feiji_effect_area{
	width:280px;
	height:140px;
	background-position:  -128px 0;
	top:218px;
	left:680px;
	-webkit-animation-name:feiJiFadeLeftOut;
	-webkit-animation-duration: 2s;
}



#sizhang_effect_area{
width:458px;
height:312px;
background-image:url('img/ani_bomb.png');
position:absolute;
top:132px;
left:251px;
background-position-x:-40px;
display:none;
}


