body {
	//margin-left:10px;	
	margin:0;
	padding:0;
	background-image:url('img/bg_cell.jpg'); 
	//-webkit-transform:scale(0.5);
}

#game_area{
	margin: 0px auto;
	width:960px;
	height:576px;
	background-image:url('img/bg.jpg');
	
}

#absolute_game_area{
position:absolute;
width: 960px;
height: 576px;
}
#player1{
	width:480px;
	height:288px;
	left:480px;
	position:absolute;
}

#player2{
	width:480px;
	height:288px;
	position:absolute;
}

#player3{
	width:960px;
	height:288px;	
	top:288px;
	position:absolute;
}

.role{
margin: 30px 20px;
}
#player1 .role{
	float: right;
}
#player2 .role{
float: left;
}
#player3 .role{
float: left;
}

.role_avatar{
	width:108px;
	height:116px;
	background:url('img/ani_role_parts.png') -117px -381px
}
.role_body{
	width:100px;
	height:90px;
	margin-top: -33px;
	background:url('img/ani_role_parts.png') -8px -264px;
}

.clock{
	width:98px;
	height:90px;
	background:url('img/interface_a.png') -539px -288px;
	position: absolute;
	//display: none;
}

.action_container{
//display:none;
position: absolute;
}

#player1 .action_container{
top: 100px;
width: 400px;
height: 90px;
}

#player2 .action_container{
top: 100px;
left: 128px;
width: 400px;
height: 90px;
}

#player3 .action_container{
top: 48px;
left: 128px;
width: 800px;
height: 90px;
z-index:100;
}

#player1 .clock{
	left: 200px;
}
#player3 .clock{	
	left: 150px;
}

.qiangdizhu_area{
position:absolute;
display:none;
}
#player1  .clock{

top:100px;
}

#player2  .clock{
top: 100px;
left: 128px;
}



#player3 .qiangdizhu_area .clock{
left:0px;
top:0px;
}

.wrapper{
position:absolute;
//display:none;
}

.paopao_container{
position:absolute;
top:50px;
display: none;
}

#player1 .paopao_container{
left:210px;
}

#player2 .paopao_container, #player3 .paopao_container{
left:120px;
}

.time_remain{
	text-align: center;
	margin-top: 45px;
	font-weight: bold;
	margin-left: 8px;
}


.green_btn{
	width:136px;
	height:78px;
	background:url('img/btn.png') 0px -85px;
	position: absolute;
}

.red_btn{
	width:136px;
	height:78px;
	background:url('img/btn.png') 0px 0px;
	position: absolute;
}

.gray_btn{
	width:136px;
	height:78px;
	background:url('img/btn.png') -288px 0px;
	position: absolute;
}

#buchu_btn{	
	
	//left: 140px;
}

#buchu_btn div{
width:74px;
height:42px;
margin: 18px auto;
background:url('img/btn.png') 0 -573px;
}

#chongxuan_btn{	

	left: 260px;
}

#chongxuan_btn div{
width:74px;
height:42px;
margin: 18px auto;
background:url('img/btn.png') -337px -528px;
}
#tishi_btn{	

	left:440px;
}
#tishi_btn div{
width:74px;
height:42px;
margin: 18px auto;
background:url('img/btn.png') -0px -623px;
}
#chupai_btn{	

	left: 610px;
}
#chupai_btn div{
width:74px;
height:42px;
margin: 18px auto;
background:url('img/btn.png') -252px -528px;
}
.role_shouPaiBg{
background-image: url(img/interface_a.png);
width: 62px;
height: 58px;
-webkit-transform: scale(1, 1.5) rotate(30deg);
background-position: -358px -311px;
margin-left: 15px;
}

.role_shouPaiNum{
font-size: 20px;
font-weight: bold;
position: relative;
top: -40px;
left: 28px;
z-index: 100;
width: 34px;
text-align: center;
}


.buchu_container{
width:156px;
height:120px;
position:absolute;
//display:none;
top : 50px;
left:120px;
}

#player3 .buchu_container{
top:0x;
}

#player1 .buchu_container{
left:210px;
}

.qiang_dizhu_area{
display:none;
}

.buchu_text{
	position: absolute;
	top: 30px;
	left: 20px;
	width: 96px;
	height: 51px;
	background: url('img/interface_a.png') -370px -383px;
}
#player1 .buchu_paopao{
	width: 156px;
	height: 120px;
	background: url('img/interface_a.png') 0 -371px;
	
}

#player2 .buchu_paopao, #player3 .buchu_paopao{
	width: 156px;
	height: 120px;
	background: url('img/interface_a.png') 0 -251px;
}



#player2 .role_avatar, #player2 .role_body,#player3 .role_avatar, #player3 .role_body
{
	 -webkit-transform:scaleX(-1);
}



#player1_shoupai_area, #player2_shoupai_area {
position: absolute;
display:none;
}
#player3_shoupai_area{
position: absolute;
width: 800px;
height: 120px;
top: 168px;
left: 128px;
}

.card_played_area{
width: 350px;
height: 120px;
position: absolute;
-webkit-transform:scale(0.8);
//background:red;
//display: none;
}

#player1_card_container{
top: 150px;
}
 #player2_card_container{
top: 150px;
left: 120px;
 }
 #player3_card_container{
 width: 700px;
top: 30px;
left: 180px;
}




.card_img{
width:100px;
height:120px;
//-webkit-transform:scale(0.8);
}

.heitao3{
background:url(img/poker.png) 0 0px;
}
.heitao4{
background:url(img/poker.png) -98px 0;
}
.heitao5{
background:url(img/poker.png)  -196px 0;
}
.heitao6{
background:url(img/poker.png)  -294px 0;
}
.heitao7{
background:url(img/poker.png)  -392px 0;
}
.heitao8{
background:url(img/poker.png)  -490px 0;
}
.heitao9{
background:url(img/poker.png)  -588px 0;
}
.heitao10{
background:url(img/poker.png)  -686px 0;
}
.heitaoJ{
background:url(img/poker.png)  -784px 0;
}
.heitaoQ{
background:url(img/poker.png)  -882px 0;
}
.heitaoK{
background:url(img/poker.png)  -982px 0;
}
.heitaoA{
background:url(img/poker.png)  -1078px 0;
}
.heitao2{
background:url(img/poker.png)  -1176px 0;
}

.xiaowang{
background:url(img/poker.png)  -1274px 0;
}
.hongxin3{
background:url(img/poker.png) 0 -122px;
}
.hongxin4{
background:url(img/poker.png) -98px -122px;
}
.hongxin5{
background:url(img/poker.png)  -196px -122px;
}
.hongxin6{
background:url(img/poker.png)  -294px -122px;
}
.hongxin7{
background:url(img/poker.png)  -392px -122px;
}
.hongxin8{
background:url(img/poker.png)  -490px -122px;
}
.hongxin9{
background:url(img/poker.png)  -588px -122px;
}
.hongxin10{
background:url(img/poker.png)  -686px -122px;
}
.hongxinJ{
background:url(img/poker.png)  -784px -122px;
}
.hongxinQ{
background:url(img/poker.png)  -882px -122px;
}
.hongxinK{
background:url(img/poker.png)  -982px -122px;
}
.hongxinA{
background:url(img/poker.png)  -1078px -122px;
}
.hongxin2{
background:url(img/poker.png)  -1176px -122px;
}
.dawang{
background:url(img/poker.png)  -1274px -122px;
}


.meihua3{
background:url(img/poker.png) 0 -244px;
}
.meihua4{
background:url(img/poker.png) -98px -244px;
}
.meihua5{
background:url(img/poker.png)  -196px -244px;
}
.meihua6{
background:url(img/poker.png)  -294px -244px;
}
.meihua7{
background:url(img/poker.png)  -392px -244px;
}
.meihua8{
background:url(img/poker.png)  -490px -244px;
}
.meihua9{
background:url(img/poker.png)  -588px -244px;
}
.meihua10{
background:url(img/poker.png)  -686px -244px;
}
.meihuaJ{
background:url(img/poker.png)  -784px -244px;
}
.meihuaQ{
background:url(img/poker.png)  -882px -244px;
}
.meihuaK{
background:url(img/poker.png)  -982px -244px;
}
.meihuaA{
background:url(img/poker.png)  -1078px -244px;
}
.meihua2{
background:url(img/poker.png)  -1176px -244px;
}

.dipai{
background:url(img/poker.png)  -1274px -244px;
}
.fangkuai3{
background:url(img/poker.png) 0 -366px;
}
.fangkuai4{
background:url(img/poker.png) -98px -366px;
}
.fangkuai5{
background:url(img/poker.png)  -196px -366px;
}
.fangkuai6{
background:url(img/poker.png)  -294px -366px;
}
.fangkuai7{
background:url(img/poker.png)  -392px -366px;
}
.fangkuai8{
background:url(img/poker.png)  -490px -366px;
}
.fangkuai9{
background:url(img/poker.png)  -588px -366px;
}
.fangkuai10{
background:url(img/poker.png)  -686px -366px;
}
.fangkuaiJ{
background:url(img/poker.png)  -784px -366px;
}
.fangkuaiQ{
background:url(img/poker.png)  -882px -366px;
}
.fangkuaiK{
background:url(img/poker.png)  -982px -366px;
}
.fangkuaiA{
background:url(img/poker.png)  -1078px -366px;
}
.fangkuai2{
background:url(img/poker.png)  -1176px -366px;
}

#result{
width:688px;
height:480px;
background:url(img/interface_d_12082415.png) 0 484px;
display:none;
z-index: 100;
position: absolute;
margin:48px  136px;
}