body {
	//margin-left:10px;	
	margin:0;
	padding:0;
	background-image:url('img/bg_cell.jpg'); 
	//-webkit-transform:scale(0.5);
}

#game_area{
	margin: 0px auto;
	width:960px;
	height:576px;
	background-image:url('img/bg.jpg');
	
}

#absolute_game_area{
position:absolute;
width: 960px;
height: 576px;
}
#player1{
	width:480px;
	height:288px;
	left:480px;
	position:absolute;
}

#player2{
	width:480px;
	height:288px;
	position:absolute;
}

#player3{
	width:960px;
	height:288px;	
	top:288px;
	position:absolute;
}

.player_info, .role{
position:absolute;
top:20px;
left:20px;
}

#player1 .player_info, #player1 .role{
left:352px;
}
.player_avatar{
background:url('img/interface_c.png') -626px -709px; 
padding:19px;
width:70px;
height:70px;
}
.player_name{

}


.role_avatar{
	width:108px;
	height:116px;
	background:url('img/ani_role_parts.png') -117px -381px
}
.role_body{
	width:100px;
	height:90px;
	margin-top: -33px;
	background:url('img/ani_role_parts.png') -8px -264px;
}

.clock{
	width:98px;
	height:90px;
	background:url('img/interface_a.png') -539px -288px;
	position: absolute;
	//display: none;
}

.action_container{
//display:none;
position: absolute;
}

#player1 .action_container{
top: 100px;
width: 400px;
height: 90px;
}

#player2 .action_container{
top: 100px;
left: 128px;
width: 400px;
height: 90px;
}

#player3 .action_container{
top: 48px;
left: 128px;
width: 800px;
height: 90px;
z-index:100;
}

#player1 .clock{
	left: 200px;
}
#player3 .clock{	
	left: 150px;
}

.qiangdizhu_area{
position:absolute;
display:none;
}
#player1  .clock{

top:100px;
}

#player2  .clock{
top: 100px;
left: 128px;
}


.wrapper{
position:absolute;
display:none;
}

.paopao_container{
position:absolute;
top:50px;
display: none;
}

#player1 .paopao_container{
left:210px;
}

#player2 .paopao_container, #player3 .paopao_container{
left:120px;
}

.time_remain{
	text-align: center;
	margin-top: 45px;
	font-weight: bold;
	margin-left: 8px;
}

.action_container .action_btn{
	width:136px;
	height:78px;
	background-image:url('img/btn.png');
	position: absolute;
}

.green_btn{
	background-position: 0px -85px;	
}

.red_btn{
	background-position: 0px 0px;	
}

.gray_btn{
	background-position: -288px 0px;	
}

#negative_btn{
left: 204px;
}

#player3 .qiangdizhu_area .clock{
left:351px;
}
#positive_btn{
left: 460px;

}

#buchu_btn{		
	//left: 140px;
}
#chongxuan_btn{	
	left: 260px;
}

.chongxuan{
background-position: -337px -528px;
}
#tishi_btn{	

	left:440px;
}
.tishi{
background-position: -0px -623px;
}
#chupai_btn{
	left: 610px;
}
.chupai{
background-position: -252px -530px;
}
.role_shouPaiBg{
background-image: url(img/interface_a.png);
width: 62px;
height: 58px;
-webkit-transform: scale(1, 1.5) rotate(30deg);
background-position: -358px -311px;
margin-left: 15px;
}

.role_shouPaiNum{
font-size: 20px;
font-weight: bold;
position: relative;
top: -40px;
left: 28px;
z-index: 100;
width: 34px;
text-align: center;
}


.buchu_container{
width:156px;
height:120px;
position:absolute;
//display:none;
top : 50px;
left:120px;
}

#player3 .buchu_container{
top:0x;
}

#player1 .buchu_container{
left:210px;
}

.qiang_dizhu_area{
display:none;
}


.action_btn .text_3char{
	top: 20px;
	left: 18px;
	position: absolute;
	width: 100px;
	height: 36px;
	background-image: url('img/btn.png');
}
.action_btn .text_2char{
	top: 20px;
	left: 31px;
	position: absolute;
	width: 77px;
	height: 40px;
	background-image: url('img/btn.png');
}


.paopao_container .text{
	position: absolute;
	width: 116px;
	height: 50px;
	background-image: url('img/interface_a.png');
	top: 30px;
	left: 20px;
}

.paopao_container .bujiao{
background-position:-148px -384px;
}

.paopao_container .buchu{
background-position:-360px -384px;
}

.paopao_container .buqiang{
background-position:-256px -384px;
}

.paopao_container .jiao_dizhu{
background-position:-163px -441px;
}

.paopao_container .qiang_dizhu{
background-position:-292px -441px;
}


.action_container .jiao_dizhu{
background-position:-0px -390px;
}
.action_container .buqiang{
background-position:-0px -526px;
}
.action_container .qiang_dizhu{
background-position:-293px -440px;
}


.action_btn .buchu{
background-position:0  -576px;
}

.action_btn .bujiao{
background-position:0  -481px;
}

.action_btn .buqiang{
background-position:0  -528px;
}


.paopao{
	width: 156px;
	height: 120px;
	background-image: url('img/interface_a.png'); 
}

#player1 .paopao{
	background-position: 0 -371px;
	
}

#player2 .paopao, #player3 .paopao{
	background-position: 0 -251px;
}



#player2 .role_avatar, #player2 .role_body,#player3 .role_avatar, #player3 .role_body
{
	 -webkit-transform:scaleX(-1);
}



#player1_shoupai_area, #player2_shoupai_area {
position: absolute;
display:none;
}
#player3_shoupai_area{
position: absolute;
width: 800px;
height: 120px;
top: 168px;
left: 128px;
}

.card_played_area{
width: 350px;
height: 120px;
position: absolute;
-webkit-transform:scale(0.8);
//background:red;
//display: none;
}

#player1_card_container{
top: 150px;
}
 #player2_card_container{
top: 150px;
left: 120px;
 }
 #player3_card_container{
 width: 700px;
top: 30px;
left: 180px;
}




.card_img{
width:98px;
height:120px;
background-image:url('img/poker.png');
//-webkit-transform:scale(0.8);
}

.heitao3{
background-position: 0 0px;
}
.heitao4{
background-position: -98px 0;
}
.heitao5{
background-position:  -196px 0;
}
.heitao6{
background-position:  -294px 0;
}
.heitao7{
background-position:  -392px 0;
}
.heitao8{
background-position:  -490px 0;
}
.heitao9{
background-position:  -588px 0;
}
.heitao10{
background-position:  -686px 0;
}
.heitaoJ{
background-position:  -784px 0;
}
.heitaoQ{
background-position:  -882px 0;
}
.heitaoK{
background-position:  -982px 0;
}
.heitaoA{
background-position:  -1078px 0;
}
.heitao2{
background-position:  -1176px 0;
}

.xiaowang{
background-position:  -1274px 0;
}
.hongxin3{
background-position: 0 -123px;
}
.hongxin4{
background-position: -98px -123px;
}
.hongxin5{
background-position:  -196px -123px;
}
.hongxin6{
background-position:  -294px -123px;
}
.hongxin7{
background-position:  -392px -123px;
}
.hongxin8{
background-position:  -490px -123px;
}
.hongxin9{
background-position:  -588px -123px;
}
.hongxin10{
background-position:  -686px -123px;
}
.hongxinJ{
background-position:  -784px -123px;
}
.hongxinQ{
background-position:  -882px -123px;
}
.hongxinK{
background-position:  -982px -123px;
}
.hongxinA{
background-position:  -1078px -123px;
}
.hongxin2{
background-position:  -1176px -123px;
}
.dawang{
background-position:  -1274px -123px;
}


.meihua3{
background-position: 0 -246px;
}
.meihua4{
background-position: -98px -246px;
}
.meihua5{
background-position:  -196px -246px;
}
.meihua6{
background-position:  -294px -246px;
}
.meihua7{
background-position:  -392px -246px;
}
.meihua8{
background-position:  -490px -246px;
}
.meihua9{
background-position:  -588px -246px;
}
.meihua10{
background-position:  -686px -246px;
}
.meihuaJ{
background-position:  -784px -246px;
}
.meihuaQ{
background-position:  -882px -246px;
}
.meihuaK{
background-position:  -982px -246px;
}
.meihuaA{
background-position:  -1078px -246px;
}
.meihua2{
background-position:  -1176px -246px;
}

.dipai{
background-position:  -1274px -246px;
}
.fangkuai3{
background-position: 0 -369px;
}
.fangkuai4{
background-position: -98px -369px;
}
.fangkuai5{
background-position:  -196px -369px;
}
.fangkuai6{
background-position:  -294px -369px;
}
.fangkuai7{
background-position:  -392px -369px;
}
.fangkuai8{
background-position:  -490px -369px;
}
.fangkuai9{
background-position:  -588px -369px;
}
.fangkuai10{
background-position:  -686px -369px;
}
.fangkuaiJ{
background-position:  -784px -369px;
}
.fangkuaiQ{
background-position:  -882px -369px;
}
.fangkuaiK{
background-position:  -982px -369px;
}
.fangkuaiA{
background-position:  -1078px -369px;
}
.fangkuai2{
background-position:  -1176px -369px;
}

#result{
width:688px;
height:480px;
background:url(img/interface_d_12082415.png) 0 484px;
display:none;
z-index: 100;
position: absolute;
margin:48px  136px;
}